body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-radius: 5px;

}

h5 {
  margin: 15px;
}

input[type = "submit"] {
  background-color: greenyellow;
  padding: 0px 20px 0px 20px;
}

button {
  border-radius: 3px;
  margin: 2px;
  background-color: red;
  color: #fff;
}

container {
  background-color: blueviolet;
  background-size: cover;
  border: 2px solid green;
  border-radius: 2px;

}

card {
  border: 2px solid yellow;
  font-size: 15px;
  font-family: 'roboto';
  font-weight: bold;
}